.favourites{
    display: flex;
    margin-top: 10px;
}
.favourites > :first-child{
    margin-right: 10px;
}
.noFavMov{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

@media only screen and (max-width:1000px){
    .favourites{
        flex-direction: column;
        align-items: center;
    }
}