.moviesTableListCont {
  margin-top: 1rem;
}

.moviesTableListCont > table {
  width: 100%;
  border-collapse: collapse;
}

thead > tr > th:first-child {
  text-align: left;
}

table td,
th {
  text-align: center;
  padding: 10px;
}

.moviesTableListCont > table > tbody img {
  width: 6rem;
  border-radius: 4px;
}

.imageTitle {
  display: flex;
  align-items: center;
}
tbody > tr > td > span {
  margin-left: 10px;
}
tbody > tr {
  border-top: 1px solid rgba(0, 0, 0, 0.342);
  border-bottom: 1px solid rgba(0, 0, 0, 0.285);
}

.deleteBtnCont > button {
  width: 4rem;
  padding: 10px;
  background-color: crimson;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.icons {
  cursor: pointer;
}

@media only screen and (max-width: 450px){
  .moviesTableListCont > table> thead> tr>th{
    font-size: 0.8rem;
  }
   .moviesTableListCont > table> tbody> tr>td{
    font-size: 0.8rem;
  }
  .moviesTableListCont > table > tbody img{
    width: 4.6rem;
  }
}

@media only screen and (max-width: 1000px) {
  .moviesTableListCont {
    overflow: scroll;
  }
}
